.icon {
    &--favorites {
        background-color: var(--green-color);
        color: var(--main-color);
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        padding: 1rem;
        border-radius: 0.3rem;

        &:hover {
            background-color: var(--dark-green-color);
        }
    }

    &--portions {
        background-color: var(--green-color);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding: 0.6rem;

        &:hover {
            background-color: var(--dark-green-color);
        }
    }

    &--share {
        background-color: var(--background-color);
        width: 60px;
        height: 60px;
        
        border-radius: 50%;
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;

        &:hover {
            background-color: var(--green-color);
        }
    }

    

    &--bulb, &--leaf{
        background-color: var(--text-color);
        color: var(--main-color);
        width: 50px;
        height: 58px;
        position: absolute;
        border-radius: 0 0 50% 50%;
        padding-bottom:20px;
        padding-top:10px;
        right: 3%;
    }

    &--leaf {
        padding-left: 0.4rem;
    }

    &--heart {
        right: 1rem;
        padding: 0.6rem 0.4rem 0.4rem;
    }

    &--info {
        font-size: 3rem;
    }

    &--star {
        margin-top: 1rem;
        margin-bottom: 1rem;

        &--big{
            font-size: 2rem;
            // &:hover{
            //     outline: var(--dark-green-color);
            //     background-color: cadetblue;
            // }
        }
    }

    &--star {
        color: var(--green-color);
        margin-right: 0.3rem;
    }

    &--heart {
        background-color: var(--main-color);
        color: var(--grey-color);
        right: 0.4rem;
        position: absolute;
        padding: 0.6rem 0.4rem 0.4rem;
        border-radius: 0 0 50% 50%;
    }

    &--cook{
        width: 18px;
        height: 18px;
    }
}


// .stars {
//     padding-top: 0.7rem;
//     padding-bottom: 0.7rem;
// }