@use '../layout/border' as b;
@use '../util/' as u;

.header {
    text-align: center;

    &__btns {
        display: flex;
        justify-content: center;
        color: var(--green-color);

        button {
            margin: 0.5rem;
            border: 1px solid var(--green-color);
            background-color: var(--main-color);
            color: var(--green-color);
            padding: 0.6rem;
            border-radius: 20px;
            font-size: 0.8rem;

            &:hover{
                background-color: var(--light-green-color);
            }
        }
    }

    &__title {
        margin-top: 1.8rem;
        align-items: flex-start;
        justify-content: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            color: var(--text-color);
            span{
                margin-left: 8px;
            }
        }
    }

    &__description {
        line-height: 1.8;
        padding: 1rem;
        border-bottom: b.$border;

    }
     &__time {
        display: flex;
        justify-content: space-evenly;

        align-items: center;
        padding: 1rem;
        border-bottom: b.$border;
        span{
            display: flex;
            flex-direction: row;
            min-width: 100px;
            p{
                margin-left: 8px;
            }
        }
    }
}


.main {
    background-color: var(--main-color);
    margin: 1rem;
    // margin-left: 0;
    border-radius: b.$border-radius;
    padding: 40px 32px;

    &__list {  
        h2{
            margin-top: 2rem;
            margin-bottom: 1.3rem;
        }

        li {    
            margin-bottom: 1rem;   
            line-height: 1.6;
        }

        input {
            border: none;
            width: 20px;
            height: 20px;
            margin-right: 2rem;
            padding-bottom: 10rem;
        }

        p{
            margin-top: 2.4rem;
        }

    }

    &__info {
        display: flex;
        border: 1px solid var(--background-color);
        p{
            padding: 2rem;
            line-height: 1.6;
        }
    }

    &__bigstars {
        padding: 2rem;
        text-align: center;

        &__stars {
            color: var(--green-color);
            font-size: 2rem;
        }
    }

    &__tips{
        background-color: var(--background-color);
        position: relative;
        margin-top: 1.4rem;
        margin-bottom: 2.6rem;
        &__text{
            display: flex;
            div{
                display: flex;
                flex-direction: column;
                padding: 1.4rem;
                h2{
                    font-size: 1.2rem;
                    margin-top: 0.5rem;

                    // tu cos nie dziala
                    // @media (min-width:900px) {
                    //     background-color: red;
                    // }
                }
                p {
                    line-height: 1.4;
                };
          
            
            }
            img{
                height: 200px;
                min-width: 200px;
                border-radius: b.$border-radius;
                width: 200px;
                object-fit: cover;
            }
        }

    }

}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}