@use '../layout/border' as b;
@use '../util' as u;


.sidebar {
    background-color: var(--main-color);
    margin: 1rem;
    border-radius: b.$border-radius;
    padding: 1.4rem;

    &__favorites {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: b.$border;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative;

        button {
            width: 30%;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        span {
            font-size: 0.7rem;
        }

        @include u.breakpoint-up(medium) {
            display: block;

            button {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;
            }

            span {
                margin-left: 0.8rem;
                font-size: 0.9rem;
            }
        }
    }

    &__ingredients {
        background-color: var(--main-color);
        padding-inline: 1.4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: b.$border;

        &__portions {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border-bottom: b.$border;
        }


        &__list {
            padding: 2rem 0;
            line-height: 2.4rem;

            h3 {
                font-size: 1rem;
                margin-bottom: 0;
                margin-top: 1.6rem;
            }

            border-bottom: b.$border;
        }

        &__values {
            padding: 2rem 0rem;
            align-items: left;
            border-bottom: b.$border;

            &__title {
                display: flex;
                align-items: flex-start;
                position: relative;

                img {
                    margin-left: 8px;
                }
                h2{
                    display: flex;
                    align-items: flex-start;
                }
            }

            &__container {
                display: flex;
                flex-wrap: wrap;
            }

            .values__text {
                background-color: var(--background-color);
                text-align: center;
                font-size: 0.7rem;
                padding: 0.2rem 0.5rem;
                margin-right: 16px;
                margin-bottom: 8px;
                border-radius: 5px;

                p {
                    margin: 0.4rem;
                }

                &__bold {
                    font-weight: 700;
                }
            }

        }

        &__share {
            padding-block: 2rem;
            align-items: center;

            &__links {
                display: flex;
                justify-content: space-between;
                font-size: 0.9rem;

                button {
                    background-color: var(--main-color);

                    p {
                        padding-block: 0.5rem;
                    }
                }
            }
        }
    }

  
}

.recommended__header{
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
    .icon--leaf{
        top:0;
    }
}

.counter {
    display: flex;
    align-items: center;

    &__input {
        display: flex;
        align-items: center;
        border-radius: 30px;
        padding: 5px;
        background-color: var(--background-color);

        input {
            width: 60px;
            font-size: 1.6rem;
            font-weight: bold;
            text-align: center;
            border-radius: 5px;
            height: 40px;
            margin-inline: 10px;
        }
    }
}

.icon--infos::after{
    content: "i";
    width: 1rem;
    height: 1rem;
    font-size: 12px;
    background-color: var(--text-color);
    color: var(--main-color);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;  
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon--infos:hover::before{
    position: absolute;
    font-size: 0.8rem;
    content: "Beregnet per porsjon basert på oppskriften. Næringsinnholdet vil variere med størrelsen på porsjon og valgt tilbehør.";
    color: var(--text-color);
    background-color: var(--main-color);
    max-width: 20rem;
    padding: 1.5rem;
    text-align: center;
    font-weight: 700;
    // min-height: 100px;
    top: 50%;
}