:root{
    --background-color: #F8F7F5;
    --text-color:  #262626;
    --main-color:  #FFFFFF;
    --grey-color: #E6E5DF;
    --green-color:  #00805C;
    --dark-green-color: #005C42;
    --light-green-color: rgba(0, 128, 92, 0.1);
}